*{
    margin: 0;
    padding: 0;
}
h4{
    font-family: Sora;
}

p{
    font-family: Sora;
}

.header{
    background: url(/src/img/aboutWallpaper.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -120px;
    width: 100%;
}

.headerTextWrapper{
    padding: 233px 0 0 20% ;
}

.headerText{
    font-family: Sora;
    font-weight: 400;
    font-size: 60px;
    color: white;
}

.navigatorWrapper{
    background-color: black;
    padding: 34px 30px 17px 30px;
    width: 229px;  
    
    border-radius: 5px;
    opacity: 0.2;
   
}

.navigatorHolder{
    position: absolute;
    top: 17px;
    left: 30px;
    color: white;

    display: flex;
    flex-wrap: wrap;
}

.navigatorHolder h4{
    font-family: Sora Light;
    font-size: 16px;
}

.navigator{
    margin-top: 115px;
    padding-bottom: 60px;

    position: relative;
}

.fa-angle-right{
    padding: 0 20px 0 20px;
}
.aboutSection{
    display: flex;
    margin: 173px 0 155px 0;
}

.aboutWrapper, 
.services, 
.cards, 
.underCardsSection,
.knowledgeSection{
    margin: 0 20% 0 20%;
}

.blueText{
    color: #2272EC;
    font-family: Sora;
    font-weight: 350;
    padding-left: 21px;
    font-size: 14px;
}

.aboutLineHolder{
    display: flex;
}

.missionText, .knowledgeHeading{
    font-size: 60px;
    font-family: Sora;
    font-weight: 400;

    padding-top: 21px;
}

.knowledgeHeading{
    padding-bottom: 37px;
}

.missionHolder{
    margin-left: 104px;
    margin-right: 12%;
}

.misssionHeadTitle{
    padding-bottom: 21px;
}

.missionParagraph{
    font-family: Sora;
    font-size: 18px;
    font-weight: 200;
}

.missionPagination{
    padding-top: 25px;
    font-family: Sora;
}

.arrowLeft, .arrowRight{
    padding: 15px 20px;
    background-color: #F2F5F9;
}

.arrowRight{
    margin-top: 10px;
}

.missionArrowWrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.servicesWrapper{
    background: url(/src/img/logo2.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.services{
    padding-top: 160px;
}

.servicesHolder{
    color: white;

    display: flex;
    align-items: center;
    gap: 21px;
    padding-bottom: 21px;
}

.servicesHeading{
    font-size: 60px;
    font-family: Sora;
    font-weight: 400;

    color: white;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 50px 0px 38px 0px;
}

.cardsHolder{
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #2272EC;
    height: 180px;
    width: 370px;
}

.insideCardsHolder{
    color: white;
    padding-left: 27px;
}

.cardsHeading{
    font-size: 58px;
    font-family: Sora;
}

.underCardsSection{
    display: flex;
    padding-bottom: 180px;
}

.underCardsHeading {
    font-family: Sora;
    font-size: 30px;
    font-weight: 350;

    color: white;

    padding-bottom: 20px;
  }

  .text{
    color: white;
  }

.secondLogo{
    border: 2px solid #FFC55F;
    border-radius: 3px;
    
}

.underCardsHeadingWrapper {
    margin-left: 60px;
    max-width: 570px;
}

.largeLogo {
    padding: 29px 60px;
}

.underCardsSpan {
    line-height: 25px;
    font-size: 18px;
    font-family: Sora;
}

.knowledgePointer{
    padding: 160px 0px 0px 0px;
    gap: 21px;

    color:#2272EC;

    display: flex;
    align-items: center;
}

.backgroundWhite{
    background-color: #F2F5F9;
}

.imageHolder{
    height: 180px;
    width: 218px;
    background-color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}

.images{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
