*{
    margin: 0;
    padding: 0;
}
h4{
    font-family: Sora;
}

p{
    font-family: Sora;
}

.header{
    background: url(/src/img/aboutWallpaper.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -120px;
    width: 100%;
}

.headerTextWrapper{
    padding: 233px 0 0 0 ;
}

.headerText{
    font-family: Sora;
    font-weight: 400;
    font-size: 60px;
    color: white;
}

.navigatorWrapper{
    background-color: black;
    padding: 34px 30px 17px 30px;
    width: 229px;  
    
    border-radius: 5px;
    opacity: 0.2;
   
}

.navigatorHolder{
    position: absolute;
    top: 17px;
    left: 30px;
    color: white;

    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.navigatorHolder h4{
    font-family: Sora Light;
    font-size: 16px;
}

.navigator{
    margin-top: 115px;
    padding-bottom: 60px;

    position: relative;
}

.fa-angle-right{
    padding: 0 20px 0 20px;
}
.aboutSection{
    display: flex;
    justify-content: center;
    margin: 173px 0 155px 0;
}

.aboutWrapper, 
.services, 
.cards, 
.underCardsSection,
.knowledgeSection,
.headerTextWrapper{
    margin: 0 15% 0 15%;
}

.blueText{
    color: #2272EC;
    font-family: Sora;
    font-weight: 350;
    padding-left: 21px;
    font-size: 14px;
}

.aboutLineHolder{
    display: flex;
    flex-wrap: wrap;
}

.missionText, .knowledgeHeading{
    font-size: 60px;
    font-family: Sora;
    font-weight: 400;

    padding-top: 21px;
}


.missionText {
    padding-bottom: 20px;
}

.knowledgeHeading{
    padding-bottom: 37px;
    
}



.missionHolder{
    margin-left: 80px;
    margin-right: 12%;
}

.misssionHeadTitle{
    padding-bottom: 21px;
}

.missionParagraph{
    font-family: Sora;
    font-size: 18px;
    font-weight: 200;
}

.missionPagination{
    padding-top: 25px;
    font-family: Sora;
}

.arrowLeft, .arrowRight{
    padding: 15px 20px;
    background-color: #F2F5F9;
}

.arrowRight{
    margin-top: 10px;
}

.missionArrowWrapper{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

.servicesWrapper{
    background: url(/src/img/logo2.png);
    background-repeat: no-repeat;
    background-size: cover;

    width: 100%;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.services{
    padding-top: 160px;
}

.servicesHolder{
    font-family: Sora;
    font-size: 14px;

    color: white;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 21px;
    padding-bottom: 21px;
}

.servicesHeading{
    font-size: 60px;
    font-family: Sora;
    font-weight: 400;

    color: white;
}

.cards{
    padding: 50px 0px 38px 0px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    gap: 10px;
}

.cardsHolder{
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #2272EC;
    /* width: 277px;
    height: 160px; */
    padding: 50px;

    border-radius: 5px;
}

.insideCardsHolder{
    color: white;
    padding-left: 27px;
}

.cardsHeading{
    font-size: 58px;
    font-family: Sora;
}

.underCardsSection{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 180px;
}

.underCardsHeading {
    font-family: Sora;
    font-size: 30px;
    font-weight: 350;

    color: white;

    padding-bottom: 20px;
  }

  .text{
    color: white;
  }

.secondLogo{
    border: 2px solid #FFC55F;
    border-radius: 5px;
}

.underCardsHeadingWrapper {
    margin-left: 60px;
    max-width: 570px;
}

.largeLogo {
    padding: 29px 60px;
}

.underCardsSpan {
    line-height: 25px;
    font-size: 18px;
    font-family: Sora;
}

.knowledgePointer{
    font-family: Sora;
    font-size: 14px;

    padding: 160px 0px 0px 0;
    gap: 21px;

    color:#2272EC;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.backgroundWhite{
    background-color: #F2F5F9;
    padding:0px 0px 20% 0%;
}

.imageHolder{
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.images{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    gap: 20px;
}

.exploreTab{
    background-color: white;

    margin-bottom: 20px;
    height: 90px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    border-radius: 5px;
    cursor: pointer;
}

.blueDot{
    margin: 0px 20px 0px 42px;
}

.exploreText{
    font-family: Sora;
    font-size: 20px;
}

.faRight, .applyNow{
    color: #2272EC;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
}

.applyNow{
    padding-right: 30px;
}

.applySpan{
    font-family: Sora;
    font-size: 16px;
    font-weight: 330;
    padding-right: 24px;
}

.quatermarkWrapper{
    background-color: white;
    width: 90%;
    margin-top: -13%;

    position: relative;

}

.quatermarkHolder{
    display: flex;
    margin-left: 15%;
}

.qoutes{
    margin-top: 208px;
}

.userInfoWrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 50px;
}

.blueHeading{
    color: #3A88FF;
    font-size: 20;
    font-family: Sora;

    padding: 135px 0 45px 0
}

.infoQuotes{
    margin-left: 5%;
}

.loremText{
    font-family: Sora;
    font-size: 30px;

    padding-bottom: 30px;
}

.userName{
    font-size: 22px;
    font-family: Sora;
    font-weight: 600;
}

.userInfo{
    padding-left: 20px;
}

.userJob{
    font-size: 16px;
    font-family: Sora;
}

.userInfoHolder{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.blue{
    width: 100%;
    background-color: #020D19;
    padding-top: 20%;
    margin-top: -310px;
}
.underExploreTab{
    display: flex;
}


/* ======================================================================================
                                  MEDIA QUERY    
   ======================================================================================
*/
@media screen and (min-width: 2500px) and (max-width: 2779px) { 
    .headerTextWrapper{
        padding: 233px 0 0 13%;
    }
   

}
@media screen and (min-width: 2300px) and (max-width: 2500px) { 
    .headerTextWrapper{
        padding: 233px 0 0 11%;
    }

}
@media screen and (min-width: 2050px) and (max-width: 2300px) { 
    .headerTextWrapper{
        padding: 233px 0 0 9%;
    }

}
@media screen and (min-width: 1900px) and (max-width: 2050px) { 
   

    .headerTextWrapper{
        padding: 233px 0 0 6%;
    }


}
@media screen and (min-width: 1750px) and (max-width: 1900px) { 
    .headerTextWrapper{
        padding: 233px 0 0 4%;
    }

    .images{
        justify-content: center;
    }
}
@media screen and (min-width: 1650px) and (max-width: 1750px) { 
    .headerTextWrapper{
        padding: 233px 0 0 3%;
    }
    .backgroundWhite{
        padding: 0 0 20% 0%;
    }

    /* .cardsHolder {
        padding: 30px;
    } */
}
@media (max-width: 1650px) {
    .ps90 {
        padding-left: 90px;
    }
}
@media screen and (max-width: 1570px) {

    .servicesHeading, .missionText, .knowledgeHeading{
        font-size: 43px;
    }
    .knowledgeSection{
        margin: 0 14% 0 15%;
    }
  
    .images{
        justify-content: center;
    }
    .headerText{
        font-size: 50px;
    }
    p{
        font-size: 14px;
    }
    .cardsHeading{
        font-size: 50px;
    }
    .underCardsSection{
        padding-bottom: 7%;
    }
    .services{
        padding-top: 7%;
    }
    .aboutSection{
        margin: 10% 0 10% 0;
    }
    .underExploreTab{
        display: flex;
    }

    .cardsHolder {
        padding: 20px;
    }
} 

@media screen and (max-width: 1499px) {
    .underCardsHeadingWrapper{
        margin: 0;
    }
    
    .ps90 {
        padding-left: 50px;
    }
    .secondLogo{
        padding-right: 60px;
    }

    .underCardsSection{
        justify-content: center;
    }

    .underCardsHeading{
        padding-top: 30px;
    }

    .missionText{
        font-size: 50px;
    }
    .loremText{
        font-size: 22px;
    }

    .knowledgePointer{
        padding: 10% 0 0 0px ;
    }

    .quatermarkWrapper{
        margin-top: -17%;
    }
    .secondLogo{
        padding: 0;
    }
    .underCardsHeadingWrapper{
        margin-left: 60px;
    }

}
@media screen and (max-width: 1415px) {
    .secondLogo{
        padding: 0;
    }
}
@media  (max-width: 1400px) { 
    .footerTitl h1{
        padding-top: 35px;
        font-size: 3rem;
    }

    .cardsHolder{ 
        padding: 20px 10px !important;
    }

    .ps90 {
        padding-left: 50px;
    }
}
@media (max-width:1210px ) {
    .servicesHeading {
        font-size: 30px;
    }
}
@media (max-width: 1100px) {
    .quatermarkWrapper{
        width: 100%;
        margin-top: 0;
    }
    .backgroundWhite{
        padding: 0 0 25% 0;
    }
    .servicesHeading {
        font-size: 30px;
    }

    .cardsHeading {
        font-size: 30px;
    }
    .qoutes{
        margin-top: 0;
    }
    .quatermarkHolder{
        margin: 0 10% 0 10%;
    }
    .blue{
        margin-top: 0;
        padding-top: 0;
    }
   
    .cardsHolder{
        flex-wrap: nowrap;
        justify-content: start;
    }
    .cardImage{
        padding-left: 2%;
    }
    .underExploreTab{
        display: flex;
    }
    .applyNow{
        flex-wrap: nowrap;
    }
}
@media (max-width: 950px){
    .aboutSection{
        justify-content: flex-start;
        flex-wrap: wrap !important;
        display: block;
    }
    .missionArrowWrapper{
        flex-direction: row-reverse;
        justify-content: start;
        gap: 20px;
        padding-top: 20px;
    }
    .arrowRight{
        margin: 0;
    }
    .aboutSection{
        justify-content: flex-start;
        flex-wrap: wrap !important;
    }
    .missionHolder{
        margin: 0;
    }
}

@media (max-width: 800px) {
    .cardsHolder {
        width: 300px;
    }

    .knowledgeHeading {
        font-size: 30px;
    }
    /* .knowledgePointer {
        font-size: ;
    } */
}
@media (max-width: 750px) {
    .headerText, 
    .missionText, 
    .servicesHeading, 
    .knowledgeHeading{
        font-size: 30px ;
    }
    .missionArrowWrapper{
        flex-direction: row-reverse;
        gap: 20px;
        padding-top: 20px;
    }
    .arrowRight{
        margin: 0;
    }
    .aboutSection{
        justify-content: flex-start;
        flex-wrap: wrap !important;
    }
    .missionHolder{
        margin: 0;
    }
    .largeLogo{
        padding: 0;
    }
    .aboutWrapper, 
    .services, 
    .cards, 
    .underCardsSection,
    .knowledgeSection,
    .headerTextWrapper{
    margin: 0 10% 0 10%;
    }
    .cardsHolder{
        flex-wrap: nowrap;
        justify-content: flex-start;
    }
    .imageHolder img {
        width: 150px;
        height: 150px;
        object-fit: cover;
    }
    .underCardsHeadingWrapper{
        margin: 0 !important;
    }
    .applyNow{
        flex-wrap: nowrap;
        padding-right: 2%;
    }
    .applySpan{
        padding: 0;
        font-size: 13px;
        padding-left: 10px;
    }
    .blueDot{
        margin-left: 2%;
    }
    .underExploreTab{
        display: flex;
    }
    .exploreText{
        font-size: 13px;
        width: 50%;
    }
    .cardImage{
        padding-left: 1%;
    }
    .underCardsSpan, .userJob   {
        font-size: 13px;
    }
    .pr{
       padding-right: 80px; 
    }
    .secondPr{
        padding-right: 50px;
    }
    .quatermarkWrapper{
        margin: 0;
        width: 100%;
    }
    .qoutes{
        margin: 0;
        width: 35%;
    }
    .quatermarkHolder{
        flex-direction: column;
        justify-content: center;
        margin: 0 10% 0 10%;
    }
    .blueHeading{
        padding: 10% 0 10% 0;
    }
    .blue{
        margin-top: 0;
    }
    .userName{
        font-size: 18px;
    }
    
}
@media (max-width: 700px) {
    .imageHolder {
        width: auto;
        height: auto;
    }

    .exploreTab {
        padding: 10px;
    }
}
@media (max-width: 500px) {
    .headerText, 
    .missionText, 
    .servicesHeading, 
    .knowledgeHeading{
        font-size: 25px ;
    }
    .knowledgeHeading {
        padding-left: 10px;
    }
    .knowledgePointer {
        padding-left: 10px;
    }
    .ps90 {
        padding-left: 0;
    }
}

@media (max-width: 400px) {
    .knowledgeHeading {
        margin-left: 0px;
        padding-left: 0px
    }
    .knowledgePointer {
        margin-left: 0px;
        padding-left: 0px;
    }
    .ps10 {
        margin-left: 25px;
        padding-left: 25px;
    }
    .imageHolder > img {
        width: 100px;
        height: 100px;
        object-fit: cover;
    }
}