a{
    text-decoration: none;
    color: black;
}

.containerOpen{
    max-width: min(1170px, calc(100vw - 100px));
    margin-inline: auto;
}

.navbar{ 
    display: flex;
    justify-content: space-between;
    align-items: center;

    color: #fff;

    padding: 10px 40px 0px 40px;
}

.nav-links {
    display: flex;
    gap: 37px;
    color: #fff;

    font-size: 18px;
    font-family: Sora;
}

.navLink {
    color: #fff;
}

.language{
    display: flex;
    align-items: center;
    gap: 5px;
}

.none {
    display: flex;
    align-items: center;
    gap: 5px;

    cursor: pointer;
}

.navBtn {
    display: flex;
    align-items: center;
    gap: 5px;

    font-size: 18px;
    font-family: Sora;
    color: #fff;

    background-color: transparent;

    padding: 7px 26px 7px 20px;
    margin-left: 20px;
    border: 1px solid #fff;
    border-radius: 12px;
}

.burger, .logo, .navBtn {
    cursor: pointer;
}

.burgerOpen {
    background-image: url(../../img/backround-image.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    width: 100%;
}

.topOpen {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.25rem 2.5rem;
    /* gap: 12.5rem; */
}

.engOpen {
    display: flex;
    gap: 56rem;
}

.engContent-left {
    display: flex;
    align-items: center;
    gap: 6px;

    color: #fff;

    cursor: pointer;
}

.xOpen {
    cursor: pointer;
}

.midContentOpen{
    display: flex;
    flex-direction: column;
    gap: 2rem;

    padding-top: 5%;
}

.fotSocCrcOpen{
    font-size: 1rem;
    color: #fff ;

    margin-left: 0.6rem;
    padding: 1rem 1.125rem 0.875rem 1.125rem;

    border: 1px solid #fff ;
    border-radius: 50%;
}

.midContentOpen a {
    font-size: 5.5rem;
    font-family: Sora;
    font-weight: 500;
    color: #fff;
}

.midContentOpen a span {
    font-size: 0.875rem;
}

.botOpen {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-top: 0;
}

.leftBotOpen {
    display: flex;
    gap: 10px;

    font-size: 1rem;
    font-family: Sora;
    color: #fff;
}

.rightBotOpen {
    font-size: 1rem;
    font-family: Sora;
    color: #fff;
}

@media (max-height: 900px) {
    .midContentOpen a {
        font-size: 4rem;
    }

    .botOpen {
        padding-top: 10%;
    }
}

@media (max-width: 1100px) {
    .nav-links{
        display: none;
    }

    .language{
        display: none;
    }    
}

@media (max-width: 1450px) {
    .engOpen{
        gap: 38rem;
    }

    .containerOpen {
        max-width: min(870px, calc(100vw - 100px));
        margin-inline: auto;
    }

    .botOpen {
        padding-top: 15%;
    }
}

@media (max-width: 1160px) {
    .engOpen{
        gap: 30rem;
    }

    .containerOpen {
        max-width: min(740px, calc(100vw - 100px));
        margin-inline: auto;
    }

    .midContentOpen a {
        font-size: 4rem;
    }

    .botOpen {
        padding-top: 20%;
    }
}

@media (max-width: 1000px) {
    .engOpen{
        gap: 25rem;
    }

    .containerOpen {
        max-width: min(640px, calc(100vw - 100px));
        margin-inline: auto;
    }

    .botOpen {
        padding-top: 20%;
    }
}

@media (max-width: 900px) {
    .engOpen{
        gap: 20rem;
    }

    .containerOpen {
        max-width: min(640px, calc(100vw - 100px));
        margin-inline: auto;
    }

    .leftBotOpen p {
        font-size: 0.8rem;
    }
}

@media (max-width: 800px) {
    .engOpen{
        gap: 10rem;
    }

    .containerOpen {
        max-width: min(640px, calc(100vw - 100px));
        margin-inline: auto;
    }

    .midContentOpen a {
        font-size: 3rem;
    }

    .leftBotOpen {
        font-size: 0.8rem;
    }

    .botOpen {
        padding-top: 40%;
    }
}

@media (max-width: 700px) {
   .engContent-left {
    display: none;
   }
}

@media (max-width: 500px) {
    .engOpen{
        gap: 10rem;
    }

    .containerOpen {
        max-width: min(470px, calc(100vw - 15px));
    }

    .midContentOpen a {
        font-size: 2rem;
        margin-left: 20%;
    }

    .leftBotOpen {
        font-size: 0.8rem;
    }

    .botOpen {
        padding-top: 70%;
        flex-direction: column;
    }
}

@media (max-width: 400px) {
    .engOpen{
        gap: 0;
        flex-direction: column;
        gap: 30px;
    }

    .containerOpen {
        max-width: min(370px, calc(100vw - 15px));
    }

    .midContentOpen a {
        font-size: 2rem;
    }

    .leftBotOpen {
        font-size: 0.8rem;
    }

    .botOpen {
        padding-top: 80%;
    }

    .engContent-right {
        display: none;
    }
}